body{
    background-color: antiquewhite;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-items li{
    font-size: 1.2rem;
}
